{% extends 'index.html' %}

{% block title %}
Удалить объявление
{% endblock title %}

{% block header %}
Удалить объявление
{% endblock header %}

{% block content %}
<div class="article">
    <h2>Удалить объявление: "{{ object.title }}"</h2>
    <div class="clr"></div>
    <form action="" method="post" id="leavereply">
        <ol>
            <li>
                {% csrf_token %}
                <input type="submit" name="imageField" id="imageField" src="static/images/submit.gif" class="send" value="Delete"/>
                <div class="clr"></div>
            </li>
        </ol>
    </form>
</div>
{% endblock content %}

{#{% block footer %}#}
{#{% endblock footer %}#}
