{% extends 'index.html' %}

{% block title %}
{{ advert.title|truncatewords:5 }}
{% endblock title %}

{% block header %}
{{ advert.title|truncatewords:5 }}
{% endblock header %}

{% block content %}
<div class="article">
    <h2>{{ advert.title }}</h2>
    <div class="clr"></div>
    <p>Posted by <a href="#">{{ advert.user.username }}</a> <span>&nbsp;&bull;&nbsp;</span> Filed under <a href="#">{{ advert.announce_cat.title }}</a></p>
    {{ advert.content }}
    <p>{{ advert.data_creation|date:'d M Y' }} <span>&nbsp;&bull;&nbsp;</span>
        <a href="{% url 'advert_edit' advert.id %}"><strong>Edit</strong></a> <span>&nbsp;&bull;&nbsp;</span>
        <a href="{% url 'advert_delete' advert.id %}"><strong>Delete</strong></a> <span>&nbsp;&bull;&nbsp;</span></p>
</div>
<div class="article">
    {% if advert.Reply_Announce_feedback.all %}
    <h2><span>{{ advert.Reply_Announce_feedback.all.count }}</span> Reply</h2>
    <div class="clr"></div>
    <div class="comment"><a href="#"><img src="static/images/userpic.gif" width="40" height="40" alt="" class="userpic"/></a>
        <p><a href="#">admin</a> Says:<br/>
            April 20th, 2009 at 2:17 pm</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.</p>
    </div>
    {% else %}
    <h2>Нет откликов</h2>
    {% endif %}
</div>
{% endblock content %}

{#{% block footer %}#}
{#{% endblock footer %}#}
