{% extends 'index.html' %}

{% block title %}
Home page
{% endblock title %}

{% block header %}
Home page
{% endblock header %}

{% block content %}
{% if adverts %}
{% for advert in adverts %}
<div class="article">
    <h2>{{ advert.title }}</h2>
    <p class="infopost">
        Posted on <span class="date">{{ advert.data_creation|date:'d M Y' }}</span> by <a href="#">{{ advert.user.username }}</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        Filed under <a href="#">{{ advert.announce_cat.title }}</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <a href="#" class="com">Reply <span>{{ advert.Reply_Announce_feedback.all.count }}</span></a>
    </p>
    <div class="clr"></div>
    <div class="post_content">
        {{ advert.content|truncatewords:20 }}
        <p class="spec"><a href="{% url 'advert_detail' advert.id %}" class="rm">Read more</a></p>
    </div>
    <div class="clr"></div>
</div>
{% endfor %}
<p class="pages">
    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    <span>{{ page_obj.number }}</span>

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}
</p>
<!--<p class="pages">-->
<!--    <small>Page 1 of 2</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a>-->
<!--</p>-->
{% else %}
<h1>Объявлений нет</h1>
{% endif %}
{% endblock content %}

{#{% block footer %}#}
{#{% endblock footer %}#}
