{% extends 'index.html' %}

{% block title %}
Написать отклик
{% endblock title %}

{% block header %}
Написать отклик
{% endblock header %}

{% block content %}
<div class="article">
    <h2>Написать отклик</h2>
    <div class="clr"></div>
    <form action="" method="post" id="leavereply">
        <ol>
            <li>
                {% csrf_token %}
                {{ form.as_p }}
            </li>
            <li>
                <input type="submit" name="imageField" id="imageField" src="static/images/submit.gif" class="send" value="Submit"/>
                <div class="clr"></div>
            </li>
        </ol>
    </form>
</div>
{% endblock content %}
